* {
  font-size: 18px;
}

html,
body {
  height: 100%;
  color: black;
}
.container {
  overflow-x: hidden;
}

img {
  height: 100px;
  width: 100px;
}

/* Classes */
/* .container {
  margin-left: 20%;
} */

.btnSdg {
  background-color: rgb(241, 239, 239);
  padding: 5px;
  margin: 10px;
  height: 150px;
  width: 190px;
  border-radius: 10px;
  border: none;
}

/* .btn {
  z-index: 3;
} */
.smartBtn:hover {
  font-weight: bold;
  transform: scale(1.1);
  transition: 200ms ease;
}

.btnSdg:hover {
  font-weight: bold;
  transform: scale(1.1);
  transition: 200ms ease;
}

/* Bulb */
.wrapper {
  height: auto;
  width: 50%;
  /* background-color: black; */
  text-align: center;
  padding-left: 30%;
}

.wrapper img {
  height: 250px;
  width: auto;
}

.footer {
  margin-top: 2%;
  background-color: #448aff;
  color: white;
  padding: 1% 4% 1% 4%;
}

.form-check-input {
  padding: 3% 6% 3% 6%;
}

.section {
  opacity: 0.9;
  padding-top: 50px;
}

.info {
  background: linear-gradient(#1f6df5, #0f54cc);
  min-height: 100px;
  display: flex;
  border-radius: 1rem;
  padding-top: 2%;
  padding-bottom: 2%;
  /* padding-left: 10%; */
  margin-left: 300px;
  width: auto;
  color: white;
  text-align: center;
  /* text-align: center; */
}
.smartBtn {
  background-color: rgb(241, 239, 239);
  border-radius: 1rem;
  padding: 2% 15% 2% 15%;
  font-size: large;
  font-weight: bold;
  transition: ease-in-out;
  width: 70%;
  height: 70%;
}

.hidden {
  display: none;
}

.load--more--btn {
  padding: 10px 30px 10px 30px;
  width: 30%;
  margin-top: 10px;
  color: white;
  background: #2a6ada;
  font-weight: bold;
  border-radius: 1rem;
  border: none;
  transition: transform 0.2s;
}

.load--more--btn:hover {
  transform: scale(1.1);
}

.load--more--btn:focus {
  outline: none;
}

p {
  text-align: justify;
}

.sdg-img {
  width: 50%;
  height: 30%;
}

.sdg-img2 {
  height: 30%;
  width: 80%;
  margin-top: 5%;
  margin-bottom: 5%;
}

.section4--jumbotron {
  padding-right: 10%;
  padding-left: 10%;
  text-align: justify;
}

section h5 {
  text-align: justify;
  width: 100%;
  margin: 100px auto 25px auto;
}

.progessContainer {
  margin: 25%;
}

.zoom-img--1 {
  height: 50%;
  width: 80%;
  margin-left: 10%;
  margin-top: 2%;
  margin-bottom: 5%;
}
.zoom-img--2 {
  height: 50%;
  width: 80%;
}

/* @media (hover: hover) and (pointer: fine) and (max-width: 480px) {
 
} */
nav {
  width: 100%;
}

.lightClickText {
  margin-left: 10%;
  margin-top: 5%;
  padding-top: 10px;
}

.lightClickParagraph {
  margin-left: 11%;
  padding-top: 1px;
  font-size: small;
}

/* Demonstration section */
.section-demostration {
  text-align: center;
  padding-top: 100px;
}

.video-1 {
  margin-top: 50px;
}

.video-1-text,
.video-2-text {
  /* border: 1px solid black; */
  font-size: 16px;
  width: 76%;
  margin: 10px auto;
  padding: 0;
}

.video-2 {
  /* border: 1px solid black; */
  margin-top: 50px;
  margin-bottom: 30px;
}

@media only screen and (max-width: 480px) {
  .video-1,
  .video-2 {
    width: 100%;
  }

  iframe {
    width: 350px;
    height: 200px;
  }

  .video-1-text,
  .video-2-text {
    font-size: 13px;
    width: 100%;
    margin: 2px auto;
  }

  #flexSwitchCheckDefault {
    display: inline-block;
    margin-top: 7px;
  }

  .list {
    word-spacing: 2px;
  }

  .switch {
    border: 1px solid transparent;
    width: 90%;
    margin: 0 auto;
  }
  .lightClick {
    border: 1px solid transparent;
  }
  .lightClickText {
    margin-left: 0;
    border: 1px solid transparent;
    margin-top: 4px;
    margin-left: 10px;
    font-size: 16px;
  }

  .lightClickParagraph {
    border: 1px solid transparent;
    margin-left: 11px;
    padding: 0;
  }
  .smartBtn {
    width: 90%;
  }

  .smartCityText {
    font-size: 20px;
  }

  strong {
    font-size: 13px;
  }
  .progessContainer {
    margin: 50% auto auto auto;
  }
  #section--1 h6 {
    font-size: 70%;
  }

  #section--1 .sdg-img {
    width: 90%;
  }

  .bulb-text {
    font-size: 18px;
  }

  .ten-year-text {
    font-size: 15px;
    margin: 1px 5px;
  }

  #lightBulbImg {
    width: 130px;
    height: auto;
  }

  .col-sm-6 {
    padding-top: 0px;
  }

  .col-sm-6 h6 {
    padding-top: 0px;
  }

  .section4--jumbotron {
    padding-right: 0%;
    padding-left: 0%;
  }

  .section4--jumbotron p {
    margin-bottom: 15px;
  }

  .section4--jumbotron p,
  .section4--jumbotron li,
  .section4--jumbotron ol {
    font-size: 14px;
  }

  #section--4 h4 {
    font-size: 20px;
  }
  .sdg-img2 {
    width: 100%;
  }

  section h5 {
    font-size: 15px;
    width: 100%;
    text-align: justify;
    line-height: 20px;
    font-weight: 350;
    word-spacing: 1px;
  }

  .zoom-img--1,
  .zoom-img--2 {
    width: 100%;
    height: 100%;
    margin: 0;
    text-align: center;
  }

  .zoom-img--1 {
    margin-left: 30px;
    margin-bottom: 30px;
  }
  .form-check-input {
    margin-right: 0;
    margin-left: 10px;
  }

  .col-sm-6 {
    width: 50%;
    margin: 0px auto;
  }

  footer h6 {
    font-size: 12px;
  }
}

/* Popup  */
/* Popup container */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
  visibility: hidden;
  width: 200px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  margin-bottom: -30px;
  position: absolute;
  font-size: 15px;
  z-index: 9999;
  bottom: 25%;
  left: 50%;
  margin-left: -50px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
